.form-input-section {
    margin: 30px;
    border-radius: 35px;
    background-color: #ffffff;
    height: 30vh;
    width: 100%;
}

.input-container {
    text-align: center;
}

/* Style the labels */
label {
    font-weight: bold;
}

/* Style the input fields */
input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the horizontal lines */
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

/* Center the form horizontally */
.form-input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
