.form-input-section {
    padding: 40px;
    margin: 30px;
    border-radius: 30px;
    background-color: #ffffff;
    height: 60vh;
}

.input-container {
    text-align: center;
}

/* Style the labels */
label {
    font-weight: bold;
}

/* Style the input fields */
input[type="text"],
input[type="url"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* Style the checkboxes and labels for movie genres */
input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the horizontal lines */
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

/* Center the form horizontally */
.form-input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Optional: Add some spacing between the genres for better readability */
label[for^="genreType"] {
    display: block;
}