<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>

<body>
<h1>Login</h1>
<input type="hidden" id="Href" name="Href" value="/login">
<div id="login-result"></div>
<form id="login-form" action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <input id="submitLoginButton" type="submit" value="Login" class="login-button">
</form>
</body>
<script src="../js/adminlogin.js"></script>