<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/frontpage.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto+Slab:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>KinoXP Frontpage</title>
</head>
<body>
<section class="hero" id="home">
  <nav class="nav">
    <a href="#home"><img class="logo" src="/images/logo.png" alt="Navids Logo"></a>
    <ul>
      <li><a href="#">Location</a></li>
      <li><a href="#home">Home</a></li>
      <li><a href="#">Movies</a></li>
      <li><a href="#contact-me">Conctact</a></li>
    </ul>
    <div class="sign-in">
      <ul>
        <li><button>Sign In</button> <button>Create Account</button></li>
      </ul>
    </div>
  </nav>

  <div class="hero-area">
    <div class="hero-text">
      <h1>KinoXP</h1>
      <p>Your favorite Cinema!</p>
    </div>
    <div class="slider-frame">
      <div class="slide-images">
        <div class="img-container">
          <img src="/images/slideshow1.jpg" alt="SlideshowImage1" width="1024" height="576">
        </div>
        <div class="img-container">
          <img src="/images/slideshow2.jpg" alt="SlideshowImage2" width="1024" height="576">
        </div>
        <div class="img-container">
          <img src="/images/slideshow3.jpg" alt="SlideshowImage3" width="1024" height="576">
        </div>
      </div>
    </div>
  </div>
</section>


</body>
</html>